.create-main-wrap {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.create-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70vw;
    max-width: 900px;
    margin-right: 20px;
}

.create-header {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-bottom: 1px solid rgb(186, 184, 184);
    margin-bottom: 10px;

}

.draft_num-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13%;

}

#draft_num {
    background-color: rgb(173, 72, 41);
    width: fit-content;
    height: fit-content;
    padding: .5px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-group-choice-wrap {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(186, 184, 184);
    background-color: rgb(84, 82, 81);
    width: 30%;
    min-height: 50px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 4px;
    max-height: 100%;
    z-index: 10;
}

.create-group-choice {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;

}

.header-dropdown-left {
    display: flex;
    align-items: center;
}

.header-dropdown-right {}

.dropdown-wrap {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.create-box-wrap {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border-radius: 4px;
    border: 1px solid rgb(186, 184, 184);
    background-color: rgb(84, 82, 81);
}

.create-choices {
    display: flex;
    width: 100%;
    height: 60px;
}

.post-option-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 25%;
    border-right: 1px solid rgb(186, 184, 184);
    border-bottom: 1px solid rgb(186, 184, 184);
}

.post-option-image {
    height: 24px;
    width: 24px;
} 

#post-option-talk {
    border-right: none;
}

.post-option-buttons {
    width: 100%;
    height: 100%; 
}

.hidden-image-box {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

.title-box {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(186, 184, 184);
    visibility: visible;
    opacity: 1;
}

.comment_input_title {
    background-color: rgb(136, 133, 131);
    border: 1px solid rgb(186, 184, 184);
    width: 95%;
    height: 40px;
    padding: 0;  
}

#char-count {
    margin-left: -40px;
}



.create-text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 175px;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid rgb(186, 184, 184);
    background-color: rgb(84, 82, 81);
    justify-content: center;
    padding-top: 15px;

}

.create-text-options {
    display: flex;
    border: 1px solid rgb(186, 184, 184);
    border-bottom: none;
    background-color: rgb(136, 133, 131);
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

.create-text-options-img {
    height: 24px;
    width: 24px;
}

.create-button-flair {
    display: flex;
}

.button-wrap {
    display: flex;
    width: 100%;

}

.create-footer {
    display: flex;
    background-color: rgb(136, 133, 131);
}


.create-sidebar-wrap {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 25vw;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 4px;
}


.create-sidebar-wrap::-webkit-scrollbar {
    display: none;
  }

.sidebar-rules {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(186, 184, 184);
    background-color: rgb(84, 82, 81);
    width: 25vw;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(186, 184, 184);
}

.sidebar-li {
    border-bottom: 1px solid rgb(186, 184, 184);
    margin: 10px;
}

.sidebar-policy {
    width: 25vw;
    height: 50px;
    color: white;
    margin: 20px 0;
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(186, 184, 184);
    background-color: rgb(84, 82, 81);
    width: 25vw;
    height: 260px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    justify-content: space-evenly;

}

.options-top-wrap {
    display: flex;
    justify-content: space-around;
}

.options-top-left-wrap {}

.options-top-right-wrap {}

.options-bottom-wrap {
    display: flex;
    justify-content: center;
}