<!DOCTYPE html>
{% load static %}
{% comment %} {% load el_pagination_tags %} {% endcomment %}


<html lang="en">

<head>
    {% comment %} eliminate flash of unstyled content {% endcomment %}
    <style>
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">

    {% comment %} JQuery for el_pagination_tags {% endcomment %}
    {% comment %} <script src="jquery-3.6.0.min.js"></script> {% endcomment %}

    {% block "title" %} {% endblock "title" %}
    {% comment %} enables features only allowed for user's that are logged in {% endcomment %}
    {% if user.is_authenticated %}
    <script defer src="{% static 'JS/loginApp.js' %}"></script>
    {% else %}
    <script defer src="{% static 'JS/nologinApp.js' %}"></script>
    {% endif %}

</head>

<body>
    <div class="nav-wrapper">

        <div class="home-link-wrap">
            <a href="{% url "threads:index" %}">
                <img src="{% static 'images/logo.png' %}" alt="Pipeline" id='pipeline-icon_1' srcset="">


            </a>
        </div>

        {% if user.is_authenticated %}
        <div class="profile-only" id='personal-dropdown-wrap'>
            <div class='dropdown-icons' id="dropdown-icon_1">
                <img src="{% static 'images/home.png'%}" alt="" srcset="">
                <h4>Home</h4>
            </div>

            <div class='dropdown-arrow' id="dropdown-icon_2">
                <img src="{% static 'images/down-expand.png' %}" alt="" srcset="" id='dropdown-icon_2'>
            </div>
        </div>
        {% endif %}

        <div class="search-button-wrap">
            <div class="search-dropdown-wrap">
                <div class="search-wrap">
                    <img src="{% static "images/SearchMag.png" %}" alt="" srcset="" id="maglens">
                    <input type="search" name="" id="search" placeholder='Search'>
                </div>
                <div class="dropdown-wrap" id='group-dropdown'>

                    <div class="group-wrap-profile">

                        {% for each in search %}
                        <a href="{% url 'users:group_page' each.id %}">
                            <div class="group-selection-wrap">
                                <img src="{{each.avatar.url}}" alt="" srcset="" class='group-dd-profile-avatar'>
                                <div class="group-username">
                                    <p>
                                        p/{{each}}
                                    </p>
                                    <p class='member-count'>
                                        {% comment %} {{each.member_count}} {% endcomment %}
                                    </p>
                                </div>
                            </div>
                        </a>



                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <div class="quick-link-wrap">
            {% comment %} load index page by preferred sorting {% endcomment %}
            <a href="{% url 'threads:index' %}" class=''><img class="quick-link-icons"
                    src="{% static 'images/popular.png' %}" id="" alt="Popular" srcset=""></a>
            <a href="{% url 'threads:index' %}" class=''><img class="quick-link-icons"
                    src="{% static 'images/all.png' %}" id="" alt="All" srcset=""></a>
            <a href="{% url 'threads:index' %}" class=''><img class="quick-link-icons"
                    src="{% static 'images/new.png' %}" id="" alt="New" srcset=""></a>
        </div>
        {% if not user.is_authenticated %}
        <div class="login-create-wrap">
            <a href="{% url "users:login" %}" id='login'>Login</a>
            <a href="{% url "users:register" %}" id='create_user'>Create User</a>
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="profile-only" id='profile-options'>
            <div id="notifications"><img src="{% static 'images/create_post.png' %}" alt="" srcset=""
                    class='quick-link-icons'></div>
            <div id="create-post"><img src="{% static 'images/notifications.png' %}" alt="" srcset=""
                    class='quick-link-icons'></div>
        </div>
        {% endif %}

        <div class="profile-only" id='nav-profile-wrapper'>
            <div id="nav-profile-button-wrap">
                {% if user.is_authenticated %}
                <div id="profile-btn-top">
                    <div class='profile-btn-left'>
                        {% if request.user.customuser.avatar %}
                        <img src="{{request.user.customuser.avatar.url}}" alt="" srcset="" id='nav-profile-avatar'>
                        {% else %}
                        <img src="{% static 'images/mario_mushroom.png' %}" alt="" srcset="">
                        {% endif %}
                        <div id='profile-text'>u/{{request.user}}</div>
                    </div>
                    <div class='profile-btn-right'>

                        <img src="{% static 'images/down-expand.png' %}" alt="" srcset="" id='dropdown-icon_2'>
                    </div>
                </div>
                {% endif %}




                <div class='hidden-nav' id="profile-dropdown">
                    <div class="profile-options-wrap">
                        <div class="nav-button-profile-header no-hover"><img src="{% static 'images/profile.png' %}"
                                alt="" class='nav-img' srcset="">My
                            Stuff</div>
                        <div class="nav-button-profile">
                            <p class="text">Online Status</p>
                        </div>
                        <a href="{% url 'users:profile' request.user %}" style='text-decoration:none; color:black;'>
                            <div class="nav-button-profile">
                                <p class="text">Profile</p>
                            </div>
                        </a>
                        <div class="nav-button-profile">
                            <p class="text">Account Settings</p>
                        </div>

                    </div>
                    <a href="{% url 'users:group_register' %}" style='text-decoration:none; color:black; width:100%;'>
                        <div class="nav-button-profile-header">
                            <img src="{% static 'images/add_community.png' %}" alt="" class=' nav-img' srcset="">
                            Create a Channel
                        </div>
                    </a>
                    <div class="nav-button-profile-header">
                        <img src="{% static 'images/addurl.png' %}" alt="" class='nav-img' srcset="">
                        Share
                    </div>
                    <div class="nav-button-profile-header">
                        <img src="{% static 'images/all.png' %}" alt="" class='nav-img' srcset="">
                        Only the Best
                    </div>
                    <div class="nav-button-profile-header">
                        <img src="{% static 'images/comment.png' %}" alt="" class='nav-img' srcset="">
                        Contact
                    </div>

                    <div class="nav-button-profile-header">
                        <img src="{% static 'images/bold.png' %}" alt="" class='nav-img' srcset="">
                        Explore
                    </div>
                    <div class="nav-button-profile-header">
                        <img src="{% static 'images/award.png' %}" alt="" class='nav-img' srcset="">
                        Awards
                    </div>



                    <div class="logout-wrap">
                        <img src="{% static 'images/logout.png' %}" alt="" class='nav-img' srcset="">
                        <a href="{% url 'users:logout' %}" style='text-decoration:none; color:black;'>Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% block 'content' %}

    {% endblock 'content' %}


    <div class="javascriptselectorsnull" style='display:none;'>
        <div id="post-option-images"></div>
        <div id="create_thread_image"></div>
        <div id="image_input_button"></div>
        <div id="image_input"></div>
        <div class="reply-button"></div>
        <div class="comment-reply-dropdown"></div>
        <div class="report-flag"></div>

    </div>
</body>


</html>