<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block 'title' %}<title>Submit to the Pipeline</title>{% endblock 'title' %}
{% block 'content' %}

<div class="create-main-wrap">
    <div class="create-wrap">
        <form action="{% url 'threads:submit_thread' %}" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="create-header">
                <h3>Create a post</h3>
                <div class="draft_num-wrap">
                    <h3>
                        Drafts
                    </h3>
                    <div id="draft_num">
                        <div class="draftnumz">
                            0
                        </div>
                    </div>
                </div>
            </div>

            <div class="create-group-choice-wrap">
                <div class="create-group-choice">
                    <div class="header-dropdown-left">
                        <img src="" alt="" srcset="">
                        <div class="header-text">{{form.group}}</div>

                    </div>
                    <div class="header-dropdown-right">
                        <img src="{% static 'images/down-expand.png' %}" alt="" srcset="">
                    </div>
                </div>
                <div class="dropdown-wrap">

                    {% for group in groups %}

                    <ul>
                        <li>
                            {{group}}
                        </li>
                    </ul>

                    {% endfor %}
                </div>
            </div>
            <div class="create-box-wrap">


                <div class="create-choices">

                    <div class="post-option-wrap" id='post-option-images'>
                        <img class='post-option-image' src="{% static 'images/add_image.png' %}" alt="" srcset="">
                        <div class='post-option-button'>Images</div>
                    </div>
                    <div class="post-option-wrap">
                        <img class='post-option-image' src="{% static 'images/addurl.png' %}" alt="" srcset="">
                        <div class='post-option-button' id='post-option-link'>Link</div>
                    </div>

                    <div class="post-option-wrap">
                        <img class='post-option-image' src="{% static 'images/poll.png' %}" alt="" srcset="">
                        <div class='post-option-button' id='post-option-poll'>Poll</div>
                    </div>

                    <div class="post-option-wrap">
                        <img class='post-option-image' src="{% static 'images/talk.png' %}" alt="" srcset="">
                        <div class='post-option-button' id='post-option-talk'>Talk</div>
                    </div>
                </div>
                <div class="title-box">
                    <input type="text" name="title" class='comment_input_title' id="" placeholder='Title'>
                    {% comment %} <h5 id="char-count">0/300</h5> {% endcomment %}
                </div>
                <div class="hidden-image-box" id='create_thread_image'>

                    <input type="button" class='comment_input_title' id="image_input_button" value="Add Image" />
                    <input type="file" style="display:none;" id="image_input" name="image" />

                </div>
                <div class="create-text-wrap">
                    <div class="create-text-options">
                        <img src="{% static 'images/bold.png' %}" alt="" srcset="" class="create-text-options-img">
                        <img src="{% static 'images/italic.png' %}" alt="" srcset="" class="create-text-options-img">
                        <img src="{% static 'images/addurlsmall.png' %}" alt="" srcset=""
                            class="create-text-options-img">
                        <img src="{% static 'images/strikethrough.png' %}" alt="" srcset=""
                            class="create-text-options-img">
                        <img src="{% static 'images/spoiler.png' %}" alt="" srcset="" class="create-text-options-img">
                        <img src="{% static 'images/bulletlist.png' %}" alt="" srcset=""
                            class="create-text-options-img">
                        <img src="{% static 'images/numlist.png' %}" alt="" srcset="" class="create-text-options-img">
                        <img src="{% static 'images/quote.png' %}" alt="" srcset="" class="create-text-options-img">
                    </div>
                    <div class="comment_input-wrap">
                        <textarea name="text" id="comment_input" cols="30" rows="10" placeholder='Text'></textarea>
                    </div>
                </div>
                <div class="create-button-flair">
                    <button id="oc-flair">+ OC</button>
                    <button id="spoiler-flair">+ Spoiler</button>
                    <button id="NSFW">+ NSFW</button>
                    <button id="flair-dropdown">Flair -v-</button>
                </div>
                <div class="button-wrap">
                    <button id="save-draft">Save Draft</button>
                    <button id="submit-post">Post</button>
                </div>
                <div class="create-footer">
                    <input type="checkbox" name="notifiy" id="">
                    <h5>Send me post reply notifications</h5><br>
                    <h5>Connect accounts to share your post</h5>
                </div>
            </div>
        </form>
    </div>


    <div class="create-sidebar-wrap">
        <div class="sidebar-community-wrap">

            <div class="community-header">
                <img src="" alt="" srcset=""> {% comment %} group image{% endcomment %}
                p/selected community {% comment %} Community Title {% endcomment %}
            </div>
            <div class="community-desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis provident tenetur natus magni, quidem
                enim quos asperiores porro a! Sunt soluta suscipit beatae porro neque!
            </div>
            <div class="community-members">
                <div id="members">
                    {% comment %}pull in total{% endcomment %}
                    Members
                </div>
                <div id="members-online">
                    {% comment %}pull in total online{% endcomment %}
                    Online
                </div>
            </div>
            <div class="creation_date">
                <img src="" alt="" srcset="">
                {% comment %}pull in group creation date{% endcomment %}
            </div>
            <div class="dropdown-community-options-wrap">
                <div class="dropdown-community-title">
                    Community Options
                </div>
                <img src="{% static 'images/drop-expand.png' %}" alt="" srcset="">
            </div>
            <div class="community-option-selection">

            </div>
        </div>
        {% comment %}pull in community rules{% endcomment %}
        <div class="community-rules-wrap">
            <div class="sidebar-rules">
                <div class="sidebar-list">

                    <div class='sidebar-li'>Remmeber the human</div>
                    <div class='sidebar-li'>Behave divke you would in real divfe</div>
                    <div class='sidebar-li'>Look for the original source of content</div>
                    <div class='sidebar-li'>Search for duplicates before posting</div>
                    <div class='sidebar-li'>Read the community's rules</div>

                </div>
            </div>
        </div>


        <div class="sidebar-rules">
            <div class="sidebar-header">
                <img src="{% static 'images/flag.png' %}" alt="" srcset="">
                Posting to Pipeline
            </div>
            <div class="sidebar-list">

                <div class='sidebar-li'>Remmeber the human</div>
                <div class='sidebar-li'>Behave divke you would in real divfe</div>
                <div class='sidebar-li'>Look for the original source of content</div>
                <div class='sidebar-li'>Search for duplicates before posting</div>
                <div class='sidebar-li'>Read the community's rules</div>

            </div>
        </div>
        <div class="sidebar-policy">
            <h5>Please be mindful of pipeline's <a href="">content policy</a> and practice good ettiquette</h5>
        </div>
        <div class="sidebar-options">
            <div class="options-top-wrap">
                <div class="options-top-left-wrap">
                    Help <br>Pipeline Coins <br>Pipeline Premium
                </div>
                <div class="options-top-right-wrap">
                    About <br>Careers <br>Presss<br>Advertise<br>Blog<br>Terms<br>Content Policy<br>Privacy
                    Policy<br>Mod Policy<br>
                </div>
            </div>
            <div class="options-bottom-wrap">
                Pipeline Inc Copyright 2022. All rights reserved
            </div>
        </div>
    </div>


</div>

<form action="{% url 'threads:submit_thread' %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="">
</form>





{% endblock 'content' %}