<!DOCTYPE html>

{% extends 'base.html' %}
{% block 'title' %}<title>Pipeline</title>{% endblock 'title' %}
{% block 'content' %}

<div class="main-wrap">
    <div class="content-wrap">

        <div class="profile-only" id='create-post-wrap'>

            <a href="{% url 'users:profile' %}">
                <img src="{{MEDIA_URL}}{{avatar.avatar}}" alt="" class="profile-avatar">
            </a>
            <h1></h1>
            <a href="{% url 'threads:create_thread' %}">Create Post</a>
        </div>


        <div class="sort-by-wrap">
            Best, Hot, New, Top
        </div>

        <div class="thumb-post-wrap">

            {% for thread in threads %}
            <div class="thumb-content" id="thread_id_{{thread.id}}">
                <div class="thumb-content-text">
                    <div class="thumb-content-group">{{thread.group}}</div>
                    <div class="thumb-content-user">{{thread.user}}</div>
                    <div class="thumb-content-title">{{thread.title}}</div>
                    <div class="thumb-content-text">{{thread.text|slice:":50"}}</div>
                    <div class="thumb-content-image"><img src="{{MEDIA_URL}}{{thread.image}}" alt="" srcset=""></div>
                </div>
                <div class="likes-dislikes">
                    <a href="{% url "threads:like_thread" thread.id %}"> Likes: {{thread.likes}} </a>
                    <a href="{% url "threads:dislike_thread" thread.id %}"> Dislikes:{{thread.dislikes}} </a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>

    <div class="sidebar-wrap">

    </div>
</div>



{% endblock 'content' %}