<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% comment %} {% load time_tags %} {% endcomment %}
{% block 'title' %}<title>Pipeline</title>{% endblock 'title' %}
{% block 'content' %}

<div class="main-wrap">
    <div class="content-wrap">

        <div class="profile-only" id='create-post-wrap'>

            <a href="{% url 'users:profile' %}">
                {% comment %} display user profile pic {% endcomment %}
                {% if not user.customuser.avatar.url  %}
                <img src="{% static 'images/mario.jpg' %}" alt="" class="profile-avatar">
                {% else %}
                <img src="{{MEDIA_URL}}{{user.customuser.avatar.url}}" alt="" class="profile-avatar">
                {% endif %}
            </a>
            <h1></h1>
            <a href="{% url 'threads:create_thread' %}"><input type="text" name="" id=""
                    placeholder='Create Thread'></a>
        </div>


        <div class="sort-by-wrap">
            Best, Hot, New, Top
        </div>

        <div class="thumb-post-wrap">
            {% for thread in threads %}
            <div class="thumb-content" id="thread_id_{{thread.id}}">
                <div class="thumb-content-text">
                    <div class="thumb-content-avatar-group-user">
                        {% if not thread.user.customuser.avatar.url  %}
                        <img src="{% static 'images/mario.jpg' %}" alt="" class="profile-avatar">
                        {% else %}
                        <img class='profile-avatar' src="{{MEDIA_URL}}{{thread.user.customuser.avatar.url}}" alt=""
                            srcset="">
                        {% endif %}
                        <div class="thumb-content-group">{{thread.group}}</div>
                        {% comment %} link to user profile {% endcomment %}
                        <div class="thumb-content-user">Posted by u/<a
                                href="{% url "users:public_profile" thread.user.username %}">{{thread.user}}</a>
                            {{thread.posted_date}}
                            {% comment %} @register simple_tags not in use {% endcomment %}
                            {% comment %} {% HoursFrom thread.published_date %}</div> {% endcomment %}

                    </div>
                    <div class="thumb-content-title">{{thread.title}}</div>
                    <div class="thumb-content-text">{{thread.text|slice:":50"}}</div>
                    <div class="thumb-content-image"><img src="{{MEDIA_URL}}{{thread.image.url}}" alt="" srcset="">
                    </div>
                </div>
                <div class="likes-dislikes">
                    <a href="{% url "threads:like_thread" thread.id %}"> Likes: {{thread.likes}} </a>
                    <a href="{% url "threads:dislike_thread" thread.id %}"> Dislikes:{{thread.dislikes}} </a>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
    <div class="sidebar-wrap">
        <h1>sidebar where the fuck is htis</h1>
    </div>
</div>



{% endblock 'content' %}