<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% comment %} {% load time_tags %} {% endcomment %}
{% block 'title' %}<title>Pipeline</title>{% endblock 'title' %}
{% block 'content' %}

<div class="main-wrap">
    <div class="content-wrap">


        <div class="thumb-post-wrap">

            <div class="thread-content" id="thread_id_{{read_thread.0.id}}">
                <div class="thumb-content-text">

                    {% comment %} likes/dislikes {% endcomment %}
                    <div class="thread_likes-dislikes">
                        <a href="{% url "threads:like_thread" read_thread.0.id %}">
                            <img src="{% static 'images/upvote.png' %}" alt="" srcset="">
                        </a>
                        <div class="thread_totallikes-wrap">{{read_thread.0.likes}}</div>
                        <a href="{% url "threads:dislike_thread" read_thread.0.id %}">
                            <img src="{% static 'images/downvote.png' %}" alt="" srcset="">
                        </a>
                    </div>



                    {% comment %} thread title/user/group {% endcomment %}
                    <div class="thumb-content-avatar-group-user-wrapper">
                        {% comment %} flex 2 columns {% endcomment %}
                        <div class="thumb-group-user-wrapper">
                            <div class="thumb-content-avatar"><img src="{% static 'images/mario.png' %}" alt=""
                                    class="group_avatar"></div>
                            <div class="thumb-content-group"><a href="">p/{{read_thread.0.group}}</a> *</div>
                            {% comment %} link to user profile / post date information {% endcomment %}
                            <div class="thumb-content-user">Posted by u/<a
                                    href="{% url "users:public_profile" read_thread.0.user.username %}">{{read_thread.0.user}}</a>
                                {{read_thread.0.posted_date}}
                            </div>
                        </div>

                        <div class="thumb-content-avatar-group-user">
                            <div class="thumb-content-title">{{read_thread.0.title}}</div>



                        </div>
                        <div class="thread-content-image">

                            <img src="{{MEDIA_URL}}{{read_thread.0.image.url}}" alt="" srcset="" id="thread-full-image">
                            <div class="thread-content-text">
                                {{read_thread.0.text}}
                            </div>
                            <div class="thread-content-subpanel-wrapper">
                                <a href="" class='subicon-href'><img class='thread_subicons'
                                        src="{% static 'images/comment.png' %}" alt="" srcset=""> Comments</a>
                                <a href="" class='subicon-href'><img class='thread_subicons'
                                        src="{% static 'images/award.png' %}" alt="" srcset=""> Award</a>
                                <a href="" class='subicon-href'><img class='thread_subicons'
                                        src="{% static 'images/share.png' %}" alt="" srcset=""> Share</a>
                                <a href="#" class='subicon-href'><img class='thread_subicons'
                                        src="{% static 'images/flag.png' %}" alt="" srcset=""> Report</a>
                                <a href="#" class='subicon-href'><img class='thread_subicons'
                                        src="{% static 'images/.png' %}" alt="" srcset=""> Save</a>
                                <a href="#" class='subicon-href'><img class='thread_subicons' src="" alt="" srcset="">
                                    ...</a>

                                {% comment %} <a href="" class='subicon-href'><img class='subicons'
                                        src="{% static 'images/hide.png' %}" alt="" srcset=""> Hide</a> {% endcomment %}
                                {% comment %} <a href="" class='subicon-href'><img class='subicons'
                                        src="{% static 'images/expand.png' %}" alt="" srcset=""></a>
                                {% endcomment %}
                            </div>

                        </div>

                        <div class="thread-input-wrap">
                            Comment as
                            <a href="{% url "users:public_profile" read_thread.0.user.username %}">
                                {{read_thread.0.user}}
                            </a>
                            <form action="" method="post">{% csrf_token %}

                                <div class="comment_input-wrap">

                                    <textarea name="" id="comment_input" cols="30" rows="10"
                                        placeholder="What are your thoughts?"></textarea>

                                    <div class="input-text-button-wrap">
                                        Bold, italics, url, strikethrough, etc

                                        <input type="submit" value="Comment">

                                        <a href="{% url 'threads:comment_thread' read_thread.0.id %}">click me</a>
                                        <br>
                                        <a href="{% url 'threads:comment_thread_child' read_thread.0.id %}"> add child
                                            me</a>


                                    </div>

                                </div>
                            </form>
                            <div class="comment-section-wrap">
                                {% for each in roots %}
                                {% for item, info in each %}
                                {% if info.open %}
                                <ul>
                                    <li>
                                        {% else %}
                                    </li>
                                    <li>
                                        {% endif %}
                                        {{item}}
                                        <br>
                                        likes - {{item.likes}}
                                        user - {{item.user}}

                                        {% for close in info.close %}
                                    </li>
                                </ul>
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="sidebar-wrap">
        <h1>sidebar</h1>

    </div>
</div>



{% endblock 'content' %}