<!DOCTYPE html>

{% extends 'base.html' %}
{% block 'title' %}<title>Pipeline</title>{% endblock 'title' %}
{% block 'content' %}


<div class="main-content">
    <div class="create-user-wrap">
        <form action="" method="post">
            {% csrf_token %}
            <div id="username-entry">
                Username:{{form.username}}
                <p class="text">
                    Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                </p>
            </div>
            <div id="email-entry">
                Email:{{form.email}}
            </div>
            <div id="password-entry">
                Password:{{form.password1}}

                <p class="text">
                    Your password can’t be too similar to your other personal information.
                </p>
                <p class="text">
                    Your password must contain at least 8 characters.
                </p>
                <p class="text">
                    Your password can’t be a commonly used password.
                </p>
                <p class="text">
                    Your password can’t be entirely numeric.
                </p>

                Password Confirmation:{{form.password2}}

            </div>

            <button type="submit">Create User</button>
        </form>

    </div>
</div>


{% endblock 'content' %}