<!DOCTYPE html>

{% extends 'base.html' %}
{% block 'title' %}<title>Pipeline</title>{% endblock 'title' %}
{% block 'content' %}


<div class="main-content">
    <div class="create-user-wrap">
        <form action="" method="post">
            {% csrf_token %}{{form.username}}Username

            <br>
            {{form.email}}Email
            <br>
            {{form.password1}}Password
            <br>
            {{form.password2}}Password
            <br>
            <input type="file" name="avatar" id="create_avatar">
            <br>
            {{form.submit}}
            <button type="submit">Create User</button>
        </form>

    </div>
</div>


{% endblock 'content' %}