{% extends 'base.html' %}
{% load static %}
{% comment %} {% load time_tags %} {% endcomment %}
{% block 'title' %}<title>Pipeline</title>{% endblock 'title' %}
{% block 'content' %}

<div class="main-wrap">
    <div class="content-wrap">

        {% if user.is_authenticated %}
        <div class="profile-only" id='create-post-wrap'>

            <a href="{% url 'users:profile' request.user %}">
                {% comment %} display user profile pic {% endcomment %}
                {% if not user.customuser.avatar.url  %}
                <img src="{% static 'images/mario_mushroom.png' %}" alt="" class="profile-avatar">
                {% else %}
                <img src="{{MEDIA_URL}}{{user.customuser.avatar.url}}" alt="" class="profile-avatar">
                {% endif %}
            </a>
            <a href="{% url 'threads:create_thread' %}"><input type="text" name="" id="create_post"
                    placeholder='Create Thread'></a>
        </div>
        {% endif %}

        <div class="sort-by-wrap">
            <div class='' id="sbw-new">
                <button type="submit" class='submit-btn-main'>
                    <img src="{% static 'images/new_sort.png' %}" alt="" srcset="">
                    New
                </button>
            </div>
            <div class='' id="sbw-hot">
                <button type="submit" class='submit-btn-main'>
                    <img src="{% static 'images/hot.png' %}" alt="" srcset="">
                    Hot
                </button>
            </div>
            <div class='' id="sbw-top">
                <button type="submit" class='submit-btn-main'>
                    <img src="{% static 'images/top.png' %}" alt="">
                    Top
                </button>
            </div>
        </div>

        <div class="thumb-post-wrap">

            {% for thread in threads %}
            {% if thread.title %}
            <div class="thumb-content" id="thread_id_{{thread.id}}">
                <div class="thumb-content-text">

                    {% comment %} likes/dislikes {% endcomment %}
                    <div class="likes-dislikes">
                        <a href="{% url "threads:like_thread" thread.id %}">
                            <img src="{% static 'images/upvote.png' %}" alt="" srcset="">
                        </a>
                        <div class="totallikes-wrap">{{thread.likes}}</div>
                        <a href="{% url "threads:dislike_thread" thread.id %}">
                            <img src="{% static 'images/downvote.png' %}" alt="" srcset="">
                        </a>
                    </div>

                    {% comment %} thread image/link to more detail about post {% endcomment %}
                    <div class="thumb-content-image">
                        <a href="{% url 'threads:read_thread' thread.id %}">
                            {% if thread.image %}
                            <img src="{{MEDIA_URL}}{{thread.image.url}}" alt="" srcset="">
                            {% else %}
                            <img src="{% static 'images/mario_mushroom.png' %}" alt="" srcset="">
                            {% endif %}
                        </a>
                    </div>

                    {% comment %} thread title/user/group {% endcomment %}
                    <div class="thumb-content-avatar-group-user-wrapper">
                        {% comment %} flex 2 columns {% endcomment %}

                        <div class="thumb-content-avatar-group-user">
                            <div class="thumb-content-title"> <a href="{% url 'threads:read_thread' thread.id %}"
                                    style='text-decoration:none; color: black;'>{{thread.title}}</a></div>

                            <div class="thumb-group-user-wrapper">
                                <div class="thumb-content-avatar"><img src="{{thread.group.avatar.url}}" alt=""
                                        class="group_avatar"></div>
                                <div class="thumb-content-group"><a
                                        href="{% url 'users:group_page' thread.group.id %}">p/{{thread.group}}</a> *
                                </div>
                                {% comment %} link to user profile / post date information {% endcomment %}
                                <div class="thumb-content-user">Posted by u/
                                    {% if thread.user == request.user %}
                                    <a href="{% url 'users:profile' request.user %}">{{thread.user}}</a>
                                    {% else %}
                                    <a href="{% url "users:public_profile" thread.user.username %}">{{thread.user}}</a>
                                    {% endif %}
                                    {{thread.posted_date}}
                                </div>
                            </div>
                        </div>

                        <div class="thumb-content-subpanel-wrapper">
                            <a href="" class='subicon-href'><img class='subicons' src="{% static 'images/expand.png' %}"
                                    alt="" srcset=""></a>
                            <a href="{% url 'threads:read_thread' thread.id %}" class='subicon-href'><img
                                    class='subicons' src="{% static 'images/comment.png' %}" alt="" srcset="">
                                Comments</a>
                            <a href="" class='subicon-href'><img class='subicons' src="{% static 'images/award.png' %}"
                                    alt="" srcset=""> Award</a>
                            <a href="" class='subicon-href'><img class='subicons' src="{% static 'images/share.png' %}"
                                    alt="" srcset=""> Share</a>
                            <a href="" class='subicon-href'><img class='subicons' src="{% static 'images/hide.png' %}"
                                    alt="" srcset=""> Hide</a>
                            <a href="#" class='subicon-href'><img class='subicons' src="{% static 'images/flag.png' %}"
                                    alt="" srcset=""> Report</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="create-sidebar-wrap">
        <div id="community_sidebar" class='community-rules-wrap'>
            <div class="sidebar-rules">

                <div class="sidebar-header">
                    <img src="" alt="" srcset="" id='sidebar-groupimg'> {% comment %} group image{% endcomment %}
                    <p id="sidebar-grouptext">
                        {% comment %} Community Title {% endcomment %}
                    </p>
                </div>
                <div class="community-desc">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis provident tenetur natus magni,
                    quidem
                    enim quos asperiores porro a! Sunt soluta suscipit beatae porro neque!
                </div>
                <div class="community-members">
                    <div id="members">
                        {% comment %}pull in total{% endcomment %}
                        Members
                    </div>
                    <div id="members-online">
                        {% comment %}pull in total online{% endcomment %}
                        Online
                    </div>
                </div>
                <div class="creation_date">
                    <img src="" alt="" srcset="">
                    {% comment %}pull in group creation date{% endcomment %}
                </div>
                <div class="dropdown-community-options-wrap">
                    <div class="dropdown-community-title">
                        Community Options
                    </div>
                    <img src="{% static 'images/drop-expand.png' %}" alt="" srcset="">
                </div>
                <div class="community-option-selection">

                </div>
            </div>
            {% comment %}pull in community rules{% endcomment %}
            <div class="community-rules-wrap" id='community_rules'>
                <div class="sidebar-rules">
                    <div class="sidebar-list">

                        <div class='sidebar-li'>Remmeber the human</div>
                        <div class='sidebar-li'>Behave divke you would in real divfe</div>
                        <div class='sidebar-li'>Look for the original source of content</div>
                        <div class='sidebar-li'>Search for duplicates before posting</div>
                        <div class='sidebar-li'>Read the community's rules</div>

                    </div>
                </div>
            </div>
        </div>



        <div class="sidebar-policy">
            <h5>Please be mindful of pipeline's <a href="">content policy</a> and practice good ettiquette</h5>
        </div>
        <div class="sidebar-options">
            <div class="options-top-wrap">
                <div class="options-top-left-wrap">
                    Help <br>Pipeline Coins <br>Pipeline Premium
                </div>
                <div class="options-top-right-wrap">
                    About <br>Careers <br>Presss<br>Advertise<br>Blog<br>Terms<br>Content Policy<br>Privacy
                    Policy<br>Mod Policy<br>
                </div>
            </div>
            <div class="options-bottom-wrap">
                Pipeline Inc Copyright 2022. All rights reserved
            </div>
        </div>
    </div>
</div>



{% endblock 'content' %}