<!DOCTYPE html>

{% extends 'base.html' %}
{% block 'title' %}<title>Profile</title>{% endblock 'title' %}
{% block 'content' %}

{% for threads in threadss %}
{% comment %} Only display posts specific to user {% endcomment %}
<div class="thumb-content" id="threads_id_{{threads.id}}">
    <div class="thumb-content-text">
        <div class="thumb-content-group">{{threads.group}}</div>
        <div class="thumb-content-user">{{threads.user}}</div>
        <div class="thumb-content-title">{{threads.title}}</div>
        <div class="thumb-content-text">{{threads.text|slice:":50"}}</div>
        <div class="thumb-content-image"><img src="{{MEDIA_URL}}{{threads.image}}" alt="" srcset=""></div>
    </div>
    <div class="likes-dislikes">
        <a href="{% url "threads:like_threads" threads.id %}"> Likes: {{threads.likes}} </a>
        <a href="{% url "threads:dislike_threads" threads.id %}"> Dislikes:{{threads.dislikes}} </a>
    </div>
</div>

<ul class="all_users">

    {% for user in avatar %}
    {% if not user.is_superuser %}
    {% if user not in request.user.friends.all and user != request.user %}
    <h1>{{user}} <a href="/send_friend_request/{{user.id}}/">send friend request</a></h1>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
{% for friend_request in all_friend_requests %}
<h1>{{friend_request.from_user}}
    <a href="/accept_friend_request/{{friend_request.id}}/">
        accept friend request</a>
</h1>
{% endfor %}



{% endfor %}



{% endblock 'content' %}